/WindowsClient/新建文本文档.txt
/WindowsClient/SDM.WinClient/SDM.Code/bin
/WindowsClient/SDM.WinClient/SDM.Code/obj
/WindowsClient/SDM.WinClient/SDM.Common/bin
/WindowsClient/SDM.WinClient/SDM.Common/obj
/WindowsClient/SDM.WinClient/SDM.IRepository/obj
/WindowsClient/SDM.WinClient/SDM.IRepository/bin
/WindowsClient/SDM.WinClient/SDM.IService/bin
/WindowsClient/SDM.WinClient/SDM.IService/obj
/WindowsClient/SDM.WinClient/SDM.Model/bin
/WindowsClient/SDM.WinClient/SDM.Model/obj
/WindowsClient/SDM.WinClient/SDM.Repository/bin
/WindowsClient/SDM.WinClient/SDM.Repository/obj
/WindowsClient/SDM.WinClient/SDM.Service/bin
/WindowsClient/SDM.WinClient/SDM.Service/obj
/WindowsClient/SDM.WinClient/SDM.WinClient/bin
/WindowsClient/SDM.WinClient/SDM.WinClient/obj
/WindowsClient/SDM.WinClient/SDM.WinClient.v12.suo
/WindowsClient/SDM.WinClient/SDM.DTO/obj
/WindowsClient/SDM.WinClient/SDM.DTO/bin
